# SPDX-FileCopyrightText: openmod-tracker contributors listed in AUTHORS.md
#
# SPDX-License-Identifier: MIT

/**
!/inventory/output/filtered.csv
!/inventory/output/stats.csv
!/inventory/output/docs.csv
!/user_analysis/output/user_interactions.csv
!/user_analysis/output/user_classifications.csv
!/website
!/.git
!/README.md
!/tests/test_app.py
