default_language_version:
  python: python3

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [
          "--exclude-file=pixi.lock",
          "--skip=user_analysis/config/*.yaml",
          "--skip=*.csv"
        ]

ci: # https://pre-commit.ci/
  autofix_prs: false
  autoupdate_schedule: monthly
